@font-face {
  font-family: "iconfont"; /* Project id 4838994 */
  src: url('iconfont.eot?t=1744196971492'); /* IE9 */
  src: url('iconfont.eot?t=1744196971492#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1744196971492') format('woff2'),
       url('iconfont.woff?t=1744196971492') format('woff'),
       url('iconfont.ttf?t=1744196971492') format('truetype'),
       url('iconfont.svg?t=1744196971492#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan:before {
  content: "\e65e";
}

.icon-aite:before {
  content: "\e653";
}

.icon-xiaolian:before {
  content: "\e605";
}

.icon-new3:before {
  content: "\e761";
}

.icon-pinglun:before {
  content: "\e61b";
}

.icon-xiazai:before {
  content: "\e666";
}

.icon-fenxiang:before {
  content: "\e67b";
}

.icon-shoucang:before {
  content: "\e64d";
}

.icon-tianjia:before {
  content: "\e665";
}

.icon-bofang:before {
  content: "\ead8";
}

.icon-erji:before {
  content: "\e61a";
}

.icon-youjiantou:before {
  content: "\e608";
}

.icon-yuanhuan:before {
  content: "\e61f";
}

.icon-qianhou1:before {
  content: "\e640";
}

.icon-qianhou2:before {
  content: "\e641";
}

.icon-wuguan:before {
  content: "\ec5f";
}

.icon-dashang:before {
  content: "\e691";
}

.icon-douyinxiaohuohua:before {
  content: "\e69b";
}

.icon-odbc:before {
  content: "\e93a";
}

.icon-suijixunhuan:before {
  content: "\e610";
}

.icon-shidirenzheng:before {
  content: "\e87c";
}

.icon-wangyiyunyinyuemusic1193417easyiconnet:before {
  content: "\e650";
}

